@import url(http://fonts.googleapis.com/css?family=Roboto:300,400,100);
@import url(http://fonts.googleapis.com/css?family=Amatic+SC);


// colors:
$light-blue: #e3f1ff;
$blue: rgb(122, 173, 247);
$orange: #f7ab63;
$light-orange: #ffefe3;
$dark-orange: #ce7436;

// Reset
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
a {
  color: $light-blue;
  text-decoration: none;
}

@mixin flex() {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  justify-content: center;
  -webkit-justify-content: center;
  -ms-justify-content: center;
}


// main
body {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 16px;
  background-color: $light-blue;
}

header {
  width: 100%;
  padding-top: 8em;
  z-index: 1;
}


.main {
  margin-top: -10px;
  z-index: 1;
  background-color: $blue;
  text-align: center;
  width: 100%;
  padding: 6em 2em 4em 2em;
  color: $light-blue;
  h1 {
    font-family: 'Amatic SC', cursive;
    font-size: 7em;
    line-height: 1em;
    margin-bottom: 1em;
  }
  p.desc {
    margin: 0 auto;
    font-weight: lighter;
    width: 900px;
    font-size: 1.2em;
    line-height: 1.5em;
    text-align: left;
    strong {
      font-weight: 400;
    }
  }
  .activities {
    @include flex();
    width: 920px;
    margin: 8em auto 8em auto;
    .activity {
      width: 285px;
      text-align: center;
      margin: 10px;
      img {
        width: 100%;
      }
      p {
        font-size: 1.2em;
        line-height: 3em;
        font-weight: lighter;
      }
    }
  }
  .social {
    margin-top: 4em;
    @include flex();
    font-size: 4em;
    li {
      margin: 12px;
      -webkit-transition: all 300ms;
      transition: all 300ms;
      &:hover {
        -ms-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
      }
    }
  }
}

footer {
  text-align: center;
  padding-bottom: 4em;
  .contact {
    margin-top: 8em;
    margin-bottom: 1em;
  }
  p {
    @include flex();
    color: $dark-orange;
  }
  .ico-round {
    margin: 5px;
    display: block;
    text-align: center;
    padding-top: 8px;
    width: 40px;
    height: 40px;
    font-size: 1.4em;
    border-radius: 100%;
    background-color: $orange;
    color: $light-orange;
  }
}


@media screen and (max-width: 920px) {
  .main {
    h1 {
      font-size: 5em;
      margin-bottom: .8em;
    }
    p.desc {
      width: 100%;
    }
    .activities {
      width: 100%;
    }
    .social {
      margin-top: 2em;
    }
  }
}

@media screen and (max-width: 400px) {
  .show-mobile {
    display: block;
  }
  .show-desktop {
    display: none;
  }
}


@media screen and (min-width: 400px) {
  .show-mobile {
    display: none;
  }
  .show-desktop {
    @include flex();
  }
}